*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bool-section: #f9f9f9;
    --bool-header: #d8d9db;
    --bool-section-space: #bcbcbe;
    --bool-row: #abaebd;
    --bool-row-header: #d9817d;
    --bool-section-header: #95a8e3;
    --bool-container: #fbdb9e;
    --bool-col: #8fe2aa;
    --bool-card: #85c0c6;
    --bool-footer-container: #4574fe;
}
/*Utilitis*/

header .flex_container   {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bool-header);
    height: 100px; 
}

.flex_row {
    display: flex;
    justify-content: space-between;
    background-color: var(--bool-row-header);
    width: 80%;
    height: 50%;
}

header .flex_col2 {
    width: 50%;
    border-style: solid;
}

header .flex_col1 .flex_col3 {
    width: 25%;
    border-style: solid;
}
/*Header First section*/

#first-s .flex_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bool-section-header);
    height: 200px;
    padding-bottom: 2rem;
}

#first-s .flex_section .flex_container1 {
    width: 70%;
    height: 120px;
    background-color: var(--bool-row);
}
/*First section and Header*/

#second-s {
    background-color: var(--bool-section);
    height: 300px;
    padding-top: 1rem;
}

#second-s .flex_container2 {
    
    width: 80%;
    height: 200px;
    margin: auto;
    background-color: var(--bool-container); 
}

#second-s .flex_row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bool-row);
    width: 100%;
    height: 80%;
}

#second-s .flex_row .flex_col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 75%;
    padding: auto;
    background-color: var(--bool-col);
}

#second-s .flex_row .flex_card1 {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
    margin-top: 1.5rem;
    background-color: var(--bool-card);
}

#second-s .flex_row .flex_card2 {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 60%;
    margin: 1.5rem 1rem;
    background-color: var(--bool-card);
}
/*Second section*/

#third-s {
    background-color: var(--bool-section);
    height: 300px;
    padding-top: 1rem;
}

#third-s .flex_container3 {
    
    width: 80%;
    height: 200px;
    margin: auto;
    background-color: var(--bool-container); 
}

#third-s .flex_row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bool-row);
    width: 100%;
    height: 80%;
}

#third-s .flex_col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 75%;
    padding: auto;
    background-color: var(--bool-col);
}

#third-s .flex_card1 {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 60%;
    margin-top: 1.5rem;
    background-color: var(--bool-card);
}

#third-s .flex_card2 {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
    margin: 1.5rem 1rem;
    background-color: var(--bool-card);
}
/*Third section*/

#fourth-s {
    background-color: var(--bool-section);
    height: 300px;
    padding-top: 1rem;
}

#fourth-s .flex_container4 {
    
    width: 80%;
    height: 200px;
    margin: auto;
    background-color: var(--bool-container); 
}

#fourth-s .flex_row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bool-row);
    width: 100%;
    height: 80%;
}

#fourth-s .flex_col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 75%;
    padding: auto;
    background-color: var(--bool-col);
}

#fourth-s .flex_card1 {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
    margin-top: 1.5rem;
    background-color: var(--bool-card);
}

#fourth-s .flex_card2 {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 60%;
    margin: 1.5rem 1rem;
    background-color: var(--bool-card);
}
/*Fourth section*/

#fifth-s {
    height: 400px;
    background-color: var(--bool-section);
}

#fifth-s .flex_container5 {
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: var(--bool-container); 
}
/*Fifth section*/

footer {
    height: 250px;
    background-color: var(--bool-footer-container);
}

footer .flex_container6 {
    width: 80%;
    height: 200px;
    margin: auto; 
    background-color: var(--bool-container);
}

footer .flex_rowt{
    display: flex;
    height: 60%;
    padding-top: 1rem;
    background-color: var(--bool-row);
}
footer .flex_rowt .flex_col1 {
    display: flex;
    align-items: flex-start;
    width: 30%;
    height: 80%;
    margin-right: 0.5rem;
    background-color: var(--bool-col);
}
footer .flex_rowt .flex_col2 {
    display: flex;
    align-items: flex-start;
    width: calc(100% /5);
    height: 80%;
    margin-right: 0.5rem;
    background-color: var(--bool-container);
}
footer .flex_rowt .flex_col3 {
    display: flex;
    align-items: flex-start;
    width: calc(100% /5);
    height: 80%;
    margin-right: 0.5rem;
    background-color: var(--bool-container);
}
footer .flex_rowt .flex_col4 {
    display: flex;
    align-items: flex-start;
    width: calc(100% /5);
    height: 80%;
    margin-right: 0.5rem;
    background-color: var(--bool-container);
}
footer .flex_rowt .flex_col5 {
    display: flex;
    align-items: flex-start;
    width: calc(100% /5);
    height: 80%;
    margin-right: 0.5rem;
    background-color: var(--bool-container);
}
/*Footer Top*/

footer .flex_rowb{
    display: flex;
    justify-content: space-between;
    height: 20%;
    margin-top: 0.7rem;
    padding: 0.3rem 0;
    background-color: var(--bool-row);
}

footer .flex_rowb .flex_col1 {
    width: 20%;
    background-color: var(--bool-container);
}

footer .flex_rowb .flex_col2 {
    width: 20%;
    background-color: var(--bool-container);
}
/*Footer Bottom*/
